 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 713px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
  font-family: Inter;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-family: Inter;
  margin: -24px auto 0 141px;
}

.u-section-1 .u-text-3 {
  font-family: Inter;
  font-weight: 700;
  background-image: none;
  font-size: 1.875rem;
  margin: 15px auto 0 0;
}

.u-section-1 .u-group-1 {
  min-height: 537px;
  margin-top: 28px;
  margin-bottom: 53px;
  height: auto;
  --radius: 54px;
}

.u-section-1 .u-container-layout-1 {
  padding: 15px 30px;
}

.u-section-1 .u-form-1 {
  height: 382px;
  width: 1044px;
  margin: 62px auto 0;
}

.u-section-1 .u-form-group-1 {
  margin-top: 0;
  margin-bottom: 40px !important;
}

.u-section-1 .u-label-1 {
  width: 387px;
  font-weight: 700;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  width: 387px;
  font-weight: 700;
}

.u-section-1 .u-label-3 {
  width: 387px;
  font-weight: 700;
}

.u-section-1 .u-btn-1 {
  padding-top: 9px;
  padding-bottom: 11px;
  font-weight: 700;
  background-image: none;
  --radius: 10px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  --radius: 10px;
  background-image: none;
  margin: -135px auto 89px 79px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-form-1 {
    width: 880px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    margin-left: 89px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-form-1 {
    width: 320px;
  }
}