body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f7fa;
}

.modern-card {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.modern-card:hover {
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

.text-primary {
    color: #489474; /* Your primary color */
}

.text-secondary {
    color: #d4ac6e; /* Your secondary color */
}

.text-warning {
    color: #dbc31d; /* Accent color for icons */
}

.lead {
    font-size: 1.25rem;
    font-weight: 400;
}

ul.list-group {
    margin-top: 20px;
}

ol {
    margin-top: 20px;
}

i {
    margin-right: 10px;
}

.shadow-lg {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.rounded-lg {
    border-radius: 15px;
}

.container {
    max-width: 1200px;
}