/* Layout Styles */
.u-header {
  background-image: none;
  min-height: 122px;
}

.u-header .u-image-1 {
  width: 255px;
  height: 255px;
  margin: -67px auto 0 0;
}

.u-header .u-logo-image-1 {
  width: 100%;
  height: 100%;
}

.u-header .u-menu-1 {
  margin: -139px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-header .u-text-1 {
  margin: -43px auto 31px calc(((100% - 1140px) / 2) + 134px);
}

/* Responsive Header Styles */
@media (max-width: 1199px) {
  .u-header .u-menu-1 {
    margin-top: -139px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-header .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 134px);
  }
}

@media (max-width: 991px) {
  .u-header .u-menu-1 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-header .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + 134px);
  }
}

@media (max-width: 767px) {
  .u-header .u-menu-1 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-header .u-text-1 {
    font-size: 1rem;
    margin-left: calc(((100% - 540px) / 2) + 134px);
  }
}

@media (max-width: 575px) {
  .u-header .u-menu-1 {
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-header .u-text-1 {
    margin-left: calc(((100% - 340px) / 2) + 84px);
  }
}

/* Footer Styles */
.u-footer {
  background-image: none;
}

.u-footer .u-sheet-1 {
  min-height: 120px;
}

.u-footer .u-text-1 {
  width: 417px;
  margin: 49px auto;
}

/* Responsive Footer Styles */
@media (max-width: 1199px) {
  .u-footer .u-sheet-1 {
    min-height: 99px;
  }
}

@media (max-width: 991px) {
  .u-footer .u-sheet-1 {
    min-height: 76px;
  }
}

@media (max-width: 767px) {
  .u-footer .u-sheet-1 {
    min-height: 57px;
  }
}

@media (max-width: 575px) {
  .u-footer .u-sheet-1 {
    min-height: 36px;
  }

  .u-footer .u-text-1 {
    width: 340px;
  }
}
