.u-section-1 .u-sheet-1 {
  min-height: 260px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 36px auto 0 0;
}

.u-section-1 .u-btn-1 {
  --radius: 15px;
  font-weight: 700;
  background-image: none;
  margin: 37px auto 0 1093px;
  padding: 4px 12px 6px 11px;
}

.u-section-1 .u-btn-2 {
  --radius: 15px;
  font-weight: 700;
  background-image: none;
  margin: -36px auto 0 387px;
  padding: 5px 12px 7px 11px;
}

.u-section-1 .u-group-1 {
  width: 200px;
  min-height: 30px;
  height: auto;
  background-image: none;
  margin: -35px auto 0 865px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-2 {
  margin: -29px 297px 0 637px;
}

.u-section-1 .u-group-2 {
  width: 305px;
  min-height: 30px;
  height: auto;
  background-image: none;
  margin: -29px auto 0 73px;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-3 {
  margin: -30px auto 0 0;
}

.u-section-1 .u-text-4 {
  text-decoration: underline !important;
  margin: 48px 1078px 0 0;
}

.u-section-1 .u-text-5 {
  text-decoration: underline !important;
  margin: -29px 973px 7px 80px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 893px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 187px;
  }

  .u-section-1 .u-group-1 {
    margin-left: 740px;
    height: auto;
  }

  .u-section-1 .u-text-2 {
    margin-right: 197px;
    margin-left: 537px;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-text-4 {
    margin-right: 889px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 802px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-left: 673px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    margin-left: 520px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 87px;
    margin-left: 427px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 669px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 614px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-left: 493px;
  }

  .u-section-1 .u-group-1 {
    margin-left: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 334px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 489px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 461px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-1 {
    margin-left: 293px;
  }

  .u-section-1 .u-group-1 {
    margin-left: 140px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 134px;
  }

  .u-section-1 .u-group-2 {
    margin-left: 35px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 289px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 290px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 819px;
}

.u-section-2 .u-table-1 {
  margin-top: 23px;
  margin-bottom: 0;
}

.u-block-58a5-74 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-block-58a5-75 {
  height: 46px;
}

.u-block-58a5-76 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
}

.u-block-58a5-77 {
  background-image: none;
  font-weight: 700;
}

.u-block-58a5-78 {
  background-image: none;
  font-weight: 700;
}

.u-block-58a5-141 {
  background-image: none;
  font-weight: 700;
}

.u-block-58a5-79 {
  background-image: none;
  font-weight: 700;
}

.u-section-2 .u-table-body-1 {
  background-image: none;
}

.u-section-2 .u-table-cell-1 {
  background-image: none;
  text-transform: none;
  font-weight: 700;
}

.u-section-2 .u-table-cell-2 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-3 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-4 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-5 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-6 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-7 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-8 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-9 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: solid;
  font-size: 0.875rem;
  padding: 10px 31px 11px 29px;
}

.u-section-2 .u-table-cell-11 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-12 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-13 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-14 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: solid;
  font-size: 0.875rem;
  background-image: none;
  padding: 10px 31px 11px 29px;
}

.u-section-2 .u-table-cell-16 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-17 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-18 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-19 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: solid;
  font-size: 0.875rem;
  background-image: none;
  padding: 10px 31px 11px 29px;
}

.u-section-2 .u-table-cell-21 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-22 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-23 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-24 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: solid;
  font-size: 0.875rem;
  background-image: none;
  padding: 10px 31px 11px 29px;
}

.u-section-2 .u-table-cell-26 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-27 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-28 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-29 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-btn-5 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: solid;
  font-size: 0.875rem;
  background-image: none;
  padding: 10px 31px 11px 29px;
}

.u-section-2 .u-table-cell-31 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-32 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-33 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-34 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-btn-6 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: solid;
  font-size: 0.875rem;
  background-image: none;
  padding: 10px 31px 11px 29px;
}

.u-section-2 .u-table-cell-36 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-37 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-38 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-39 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-btn-7 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: solid;
  font-size: 0.875rem;
  background-image: none;
  padding: 10px 31px 11px 29px;
}

.u-section-2 .u-table-cell-41 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-42 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-43 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-44 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-btn-8 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  background-image: none;
}

.u-block-58a5-125 {
  background-image: none;
}

.u-section-2 .u-btn-9 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1.125rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-image: none;
  --radius: 15px;
  margin: 33px -31px 37px auto;
  padding: 14px 38px 15px 37px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-table-1 {
    margin-top: 161px;
  }

  .u-section-2 .u-btn-9 {
    margin-top: -758px;
    margin-right: 0;
    margin-bottom: 60px;
  }
}