.u-section-1 .u-sheet-1 {
  min-height: 483px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 57px auto 0 1px;
}

.u-section-1 .u-list-1 {
  width: 1120px;
  margin: 35px auto 56px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 297px;
  grid-auto-columns: calc(25% - 7.5px);
  grid-gap: 10px;
}

.u-section-1 .u-list-item-1 {
  --radius: 50px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 40px auto 0;
}

.u-section-1 .u-text-2 {
  width: 198px;
  margin: 33px auto 0;
}

.u-section-1 .u-list-item-2 {
  --radius: 50px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 40px auto 0;
}

.u-section-1 .u-text-3 {
  width: 198px;
  margin: 33px auto 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
  --radius: 50px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 40px auto 0;
}

.u-section-1 .u-text-4 {
  width: 198px;
  margin: 33px auto 0;
}

.u-section-1 .u-list-item-4 {
  --radius: 50px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-4 {
  padding: 10px;
}

.u-section-1 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: 40px auto 0;
}

.u-section-1 .u-text-5 {
  width: 198px;
  margin: 33px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 248px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 784px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}