.u-section-1 .u-sheet-1 {
  min-height: 103px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 33px auto 17px -50px;
}.u-section-2 .u-sheet-1 {
  min-height: 470px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 45px auto 0 312px;
}

.u-section-2 .u-form-1 {
  height: 166px;
  background-image: none;
  --radius: 7px;
  margin: 45px 310px 60px 260px;
}

.u-section-2 .u-form-group-1 {
  margin-left: 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-2 .u-form-1 {
    margin-right: 210px;
    margin-left: 160px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 239px;
  }

  .u-section-2 .u-form-1 {
    margin-right: 100px;
    margin-left: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 179px;
  }

  .u-section-2 .u-form-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: 113px;
  }
}