.u-section-1 .u-sheet-1 {
  min-height: 217px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 34px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 43px auto 44px;
}.u-section-2 .u-sheet-1 {
  min-height: 742px;
}

.u-section-2 .u-table-1 {
  width: 1140px;
  height: 660px;
  margin: 41px -24px 41px auto;
}

.u-block-b050-156 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.u-block-b050-157 {
  height: 46px;
}

.u-block-b050-158 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
}

.u-block-b050-159 {
  background-image: none;
  font-weight: 700;
}

.u-block-b050-160 {
  background-image: none;
  font-weight: 700;
}

.u-block-b050-161 {
  background-image: none;
  font-weight: 700;
}

.u-block-b050-162 {
  background-image: none;
  font-weight: 700;
}

.u-section-2 .u-table-cell-1 {
  background-image: none;
  text-transform: none;
  font-weight: 700;
  font-size: 1.25rem;
}

.u-section-2 .u-table-cell-2 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-3 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-4 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-5 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-6 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-7 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-8 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-9 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: solid;
  font-size: 0.875rem;
  --radius: 15px;
  padding: 10px 31px 11px 29px;
}

.u-section-2 .u-table-cell-11 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-12 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-13 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-14 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: solid;
  font-size: 0.875rem;
  background-image: none;
  --radius: 15px;
  padding: 10px 31px 11px 29px;
}

.u-section-2 .u-table-cell-16 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-17 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-18 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-19 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: solid;
  font-size: 0.875rem;
  background-image: none;
  --radius: 15px;
  padding: 10px 31px 11px 29px;
}

.u-section-2 .u-table-cell-21 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-22 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-23 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-24 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: solid;
  font-size: 0.875rem;
  background-image: none;
  --radius: 15px;
  padding: 10px 31px 11px 29px;
}

.u-section-2 .u-table-cell-26 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-27 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-28 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-29 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-btn-5 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: solid;
  font-size: 0.875rem;
  background-image: none;
  --radius: 15px;
  padding: 10px 31px 11px 29px;
}

.u-section-2 .u-table-cell-31 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-32 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-33 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-34 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-btn-6 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: solid;
  font-size: 0.875rem;
  background-image: none;
  --radius: 15px;
  padding: 10px 31px 11px 29px;
}

.u-section-2 .u-table-cell-36 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-37 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-38 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-39 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-btn-7 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-style: solid;
  font-size: 0.875rem;
  background-image: none;
  --radius: 15px;
  padding: 10px 31px 11px 29px;
}

.u-section-2 .u-table-cell-41 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-42 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-43 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-44 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-btn-8 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  background-image: none;
  --radius: 15px;
}

.u-block-b050-217 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-2 .u-table-1 {
    width: 940px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-table-1 {
    width: 340px;
  }
}