 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1191px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-family: Inter;
  margin: 15px auto 0 0;
}

.u-section-1 .u-group-1 {
  width: 255px;
  min-height: 40px;
  height: auto;
  --radius: 15px;
  margin: -34px 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-family: Inter;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-family: Inter;
  margin: 8px 1036px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  font-family: Inter;
  font-size: 1.25rem;
  border-style: solid;
  --radius: 15px;
  margin: 24px 415px 0 auto;
  padding: 5px 29px 5px 28px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-weight: 700;
  font-family: Inter;
  font-size: 1.25rem;
  border-style: solid;
  --radius: 15px;
  margin: -44px auto 0 0;
  padding: 5px 29px 5px 28px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  font-weight: 700;
  font-family: Inter;
  font-size: 1.25rem;
  border-style: solid;
  --radius: 15px;
  margin: -43px auto 0 187px;
  padding: 5px 29px 5px 28px;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: -64px 0 0 auto;
  padding: 4px;
}

.u-section-1 .u-group-2 {
  min-height: 971px;
  margin-top: 23px;
  margin-bottom: 27px;
  height: auto;
  --radius: 54px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-table-1 {
  width: 1109px;
  margin: 16px auto 0;
}

.u-block-a05c-10 {
  height: 46px;
}

.u-section-1 .u-table-cell-1 {
  font-family: Inter;
  font-size: 1.125rem;
  font-weight: 800;
  margin: 0 950px 0 0;
}

.u-section-1 .u-table-cell-2 {
  font-family: Inter;
  font-size: 1.125rem;
  font-weight: 800;
  margin: 0 791px 0 159px;
}

.u-section-1 .u-table-cell-3 {
  font-family: Inter;
  font-size: 1.125rem;
  font-weight: 800;
  margin: 0 632px 0 317px;
}

.u-section-1 .u-table-cell-4 {
  font-family: Inter;
  font-size: 1.125rem;
  font-weight: 800;
  margin: 0 auto;
}

.u-section-1 .u-table-cell-5 {
  font-family: Inter;
  font-size: 1.125rem;
  font-weight: 800;
  margin: 0 312px 0 635px;
}

.u-section-1 .u-table-cell-6 {
  font-family: Inter;
  font-size: 1.125rem;
  font-weight: 800;
  margin: 0 158px 0 796px;
}

.u-section-1 .u-table-cell-7 {
  font-family: Inter;
  font-size: 1.125rem;
  font-weight: 800;
  margin: 0 0 0 951px;
}

.u-block-a05c-48 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    margin-top: -27px;
    height: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 0;
    margin-right: 836px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 215px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-table-1 {
    width: 940px;
  }

  .u-section-1 .u-table-cell-1 {
    margin-right: 805px;
  }

  .u-section-1 .u-table-cell-2 {
    margin-right: 670px;
    margin-left: 134px;
  }

  .u-section-1 .u-table-cell-3 {
    margin-right: 536px;
    margin-left: 269px;
  }

  .u-section-1 .u-table-cell-4 {
    margin-right: 401px;
    margin-left: 403px;
  }

  .u-section-1 .u-table-cell-5 {
    margin-right: 264px;
    margin-left: 538px;
  }

  .u-section-1 .u-table-cell-6 {
    margin-right: 134px;
    margin-left: 675px;
  }

  .u-section-1 .u-table-cell-7 {
    margin-left: 806px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    margin-top: -24px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -3px;
    margin-right: 616px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-group-2 {
    margin-top: 10px;
    margin-bottom: 28px;
  }

  .u-section-1 .u-table-1 {
    width: 720px;
  }

  .u-section-1 .u-table-cell-1 {
    margin-right: 616px;
  }

  .u-section-1 .u-table-cell-2 {
    margin-right: 513px;
    margin-left: 103px;
  }

  .u-section-1 .u-table-cell-3 {
    margin-right: 410px;
    margin-left: 206px;
  }

  .u-section-1 .u-table-cell-4 {
    margin-right: 307px;
    margin-left: 309px;
  }

  .u-section-1 .u-table-cell-5 {
    margin-right: 202px;
    margin-left: 412px;
  }

  .u-section-1 .u-table-cell-6 {
    margin-right: 102px;
    margin-left: 517px;
  }

  .u-section-1 .u-table-cell-7 {
    margin-left: 617px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    margin-top: -31px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 5px;
    margin-right: 436px;
  }

  .u-section-1 .u-group-2 {
    margin-bottom: 35px;
  }

  .u-section-1 .u-table-1 {
    width: 540px;
  }

  .u-section-1 .u-table-cell-1 {
    margin-right: 473px;
  }

  .u-section-1 .u-table-cell-2 {
    margin-right: 372px;
    margin-left: 66px;
  }

  .u-section-1 .u-table-cell-3 {
    margin-right: 298px;
    margin-left: 167px;
  }

  .u-section-1 .u-table-cell-4 {
    margin-right: 223px;
    margin-left: 241px;
  }

  .u-section-1 .u-table-cell-5 {
    margin-right: 147px;
    margin-left: 316px;
  }

  .u-section-1 .u-table-cell-6 {
    margin-right: 69px;
    margin-left: 393px;
  }

  .u-section-1 .u-table-cell-7 {
    margin-left: 470px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    margin-top: -30px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 3px;
    margin-right: 236px;
  }

  .u-section-1 .u-group-2 {
    margin-bottom: 34px;
  }

  .u-section-1 .u-table-1 {
    width: 340px;
  }

  .u-section-1 .u-table-cell-1 {
    margin-right: 435px;
  }

  .u-section-1 .u-table-cell-2 {
    margin-right: 334px;
    margin-left: 37px;
  }

  .u-section-1 .u-table-cell-3 {
    margin-right: 268px;
    margin-left: 138px;
  }

  .u-section-1 .u-table-cell-4 {
    margin-right: 199px;
    margin-left: 204px;
  }

  .u-section-1 .u-table-cell-5 {
    margin-right: 128px;
    margin-left: 273px;
  }

  .u-section-1 .u-table-cell-6 {
    margin-right: 51px;
    margin-left: 344px;
  }

  .u-section-1 .u-table-cell-7 {
    margin-left: 422px;
  }
}