
/* Subtext style under the Owner header */
.owner-subtext {
  font-size: 0.8em;
  color: #6c757d;
}


.btn-outline-primary {
  border-color: #1d72b8;
  color: #1d72b8;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.btn-outline-primary:hover {
  background-color: #1d72b8;
  color: #ffffff;
}

/* Custom GO button style */
.btn-custom {
  color: #ffffff;
  background-color: #1d72b8;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
}

.btn-custom:hover {
  background-color: #145a86;
  color: #ffffff;
}

